# Base de datos
DATABASE_URL="postgresql://user:pass@host/db?sslmode=require"
DIRECT_URL="postgresql://user:pass@host/db?sslmode=require"

# Auth
JWT_SECRET=""                    # 256 bits aleatorios: openssl rand -hex 32
SESSION_SECRET=""                # iron-session secret
DATA_ENCRYPTION_KEY=""           # 256 bits para AES-256-GCM: openssl rand -hex 32

# Transbank
TBK_ENV="integration"            # 'integration' | 'production'
TBK_COMMERCE_CODE=""
TBK_API_KEY=""

# MercadoPago
MP_ACCESS_TOKEN=""
MP_PUBLIC_KEY=""
MP_WEBHOOK_SECRET=""

# Email
RESEND_API_KEY=""
EMAIL_FROM="Hachiko <hola@hachiko.cl>"

# App
NEXT_PUBLIC_APP_URL="https://hachiko.cl"
NODE_ENV="development"
